@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
.objectives .header {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
}
.objectives .header h1 {
  color: var(--Deep-teal);
  position: relative;
  padding-bottom: 15px;
}
.objectives .header span {
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}
.objectives .objective {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.objectives .objective .icon-cont {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  background-color: rgba(79, 176, 220, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  border: 1px solid rgba(79, 176, 220, 0.2);
  box-shadow: inset 0 0 0 3px #fff;
}
.objectives .objective .icon-cont svg {
  font-size: 30px;
  color: #4fb0dc;
}
.objectives .objective h1 {
  font-weight: 500;
  font-size: 18px;
  text-align: start;
}
.objectives .objective .description {
  font-size: 16px;
  text-align: start;
}

.offset::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.accomplish p {
  text-align: start;
}
.accomplish header {
  width: 100%;
}
.accomplish header h1 {
  color: var(--Deep-teal);
  position: relative;
  padding-bottom: 24px;
}
.accomplish .img-container {
  position: relative;
}
.accomplish .img-container::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 50%;
  background-color: rgba(0, 82, 155, 0.3490196078);
  right: -50px;
  top: -50px;
  z-index: -1;
}
.accomplish .checks ul li {
  position: relative;
}
.accomplish .checks ul li ::before {
  position: absolute;
  content: "\e92d";
  left: -50px;
  top: 50%;
  color: var(--Deep-teal);
  transform: translate(0, -50%);
  font-size: 22px;
  font-family: "Material Icons";
}

.objectives .Program {
  border-radius: 23px;
  padding: 40px;
  border: 1px solid #e2e2e2;
}
.objectives .Program h1 {
  font-weight: 500;
  font-size: 1.5rem;
}
.objectives .Program .description {
  font-size: 16px;
}
.objectives .Program .pricing .price {
  font-size: 30px;
  color: #333;
}
.objectives .Program .pricing .type {
  color: rgba(0, 0, 0, 0.7137254902);
}
.objectives .Program .start {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05rem;
  border: 2px solid;
  border-color: var(--Deep-teal);
  color: var(--Deep-teal);
  transition: ease-in-out 0.2s;
}
.objectives .Program .start:hover {
  color: #fff;
  background-color: var(--Deep-teal);
}

.ourTeam .teammateImage {
  width: 280px;
  height: 330px;
  border-radius: 14px;
}
.ourTeam .social-media {
  display: flex;
  align-items: center;
  gap: 30px;
}
.ourTeam .social-media svg {
  font-size: 28px;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f8ff;
  padding: 9rem;
}
.about-section .content-wrapper {
  display: flex;
  align-items: center;
  gap: 4rem;
  max-width: 1200px;
  width: 100%;
}
.about-section .content-wrapper .text-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
  padding-right: 50px;
}
.about-section .content-wrapper .text-section h2 {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 26px;
  font-weight: bold;
  color: #1C2D49;
  margin-bottom: 10px;
  position: relative;
}
.about-section .content-wrapper .text-section h2 span {
  position: absolute;
  width: 123.41px;
  height: 2px;
  right: 0.5rem;
  top: 42px;
  background-color: #286982;
  transform: rotate(-2.04deg);
}
.about-section .content-wrapper .text-section h2 span:last-child {
  width: 68px;
  top: 50px;
  right: 4rem;
}
.about-section .content-wrapper .text-section p {
  color: #6a6a6a;
  line-height: 1.6;
  margin-bottom: 20px;
}
.about-section .content-wrapper .text-section .list {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-section .content-wrapper .text-section .list .list-item {
  display: flex;
  align-items: center;
  color: #2a2a2a;
  font-weight: 500;
}
.about-section .content-wrapper .text-section .list .list-item svg {
  color: #286982;
  margin-right: 10px;
}
.about-section .content-wrapper .text-section .learn-more-btn {
  padding: 10px 20px;
  color: #fff;
  background-color: #286982;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: -moz-max-content;
  width: max-content;
}
.about-section .content-wrapper .image-section {
  position: relative;
  width: 470px;
  height: 610px;
  z-index: 2;
}
.about-section .content-wrapper .image-section .before {
  border-top-left-radius: 256.02px;
  border-top-right-radius: 256.02px;
  border-top: 2px solid #286982;
  border-left: 2px solid #286982;
  width: 100%;
  height: 103.5%;
  position: absolute;
  top: -21px;
  left: -23px;
  z-index: -1;
}
.about-section .content-wrapper .image-section img {
  border-top-left-radius: 256.02px;
  border-top-right-radius: 256.02px;
  width: 100%;
  height: 100%;
}

.programs-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 9rem;
}
.programs-section .content-wrapper {
  display: flex;
  align-items: center;
  gap: 12rem;
  max-width: 1200px;
  width: 100%;
}
.programs-section .content-wrapper .text-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
  padding-right: 50px;
}
.programs-section .content-wrapper .text-section h2 {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 26px;
  font-weight: bold;
  color: #1C2D49;
  margin-bottom: 10px;
  position: relative;
}
.programs-section .content-wrapper .text-section h2 span {
  position: absolute;
  width: 127.41px;
  height: 2px;
  right: 0.3rem;
  top: 42px;
  background-color: #286982;
  transform: rotate(-2.04deg);
}
.programs-section .content-wrapper .text-section h2 span:last-child {
  width: 60px;
  top: 50px;
  right: 4.4rem;
}
.programs-section .content-wrapper .text-section .list {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.programs-section .content-wrapper .text-section .list .list-item {
  display: flex;
  gap: 10px;
  color: #2a2a2a;
  font-weight: 500;
  background: #fff;
  padding: 25px 50px;
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.programs-section .content-wrapper .text-section .list .list-item svg {
  font-size: 60px;
  color: #286982;
  margin-right: 10px;
}
.programs-section .content-wrapper .text-section .list .list-item .col h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
.programs-section .content-wrapper .text-section .list .list-item .col p {
  font-size: 15px;
  color: #757980;
}
.programs-section .content-wrapper .text-section .learn-more-btn {
  padding: 10px 40px;
  color: #fff;
  background-color: #286982;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: -moz-max-content;
  width: max-content;
}
.programs-section .content-wrapper .image-section {
  position: relative;
  width: 470px;
  height: 610px;
  z-index: 2;
  position: relative;
}
.programs-section .content-wrapper .image-section::after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: -13px;
  right: 0;
  height: 3px;
  background-color: #286982;
}
.programs-section .content-wrapper .image-section .before {
  border-top-left-radius: 256.02px;
  border-top-right-radius: 256.02px;
  border-top: 2px solid #286982;
  border-left: 2px solid #286982;
  border-right: 2px solid #286982;
  width: 110%;
  height: 59%;
  position: absolute;
  top: -21px;
  left: -23px;
  z-index: -1;
}
.programs-section .content-wrapper .image-section img {
  border-top-left-radius: 256.02px;
  border-top-right-radius: 256.02px;
  width: 100%;
  height: 100%;
}

.gift-component {
  padding: 0rem 12rem;
  border-radius: 32px;
  position: relative;
  bottom: -4rem;
}
.gift-component .child {
  width: 100%;
  border-radius: 32px;
}
.gift-component .child .background-div {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  border-radius: 32px;
  padding: 4rem 6rem;
  width: 100%;
  background-color: rgba(40, 105, 130, 0.8509803922);
}
.gift-component .child .background-div .hadith-div p {
  font-size: 42px;
  line-height: 56px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.gift-component .child .background-div .hadith-div p span {
  font-size: 12px;
}
.gift-component .child .background-div .generosity {
  font-size: 18px;
  color: #CACACA;
  text-align: center;
  padding: 10px 15px;
}
.gift-component .child .background-div .gift-btn {
  border-radius: 10px;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.5019607843);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 30px;
  font-size: 23px;
}

.footer {
  background-color: #f5f5f5;
  color: #4a768a;
  padding-top: 10rem;
}
.footer .footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}
.footer .footer-content .logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.footer .footer-content .logo-section .social-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .footer-content .logo-section .social-icons a {
  color: #4a768a;
  margin: 0 5px;
  font-size: 1.5rem;
}
.footer .footer-content .logo-section .logo {
  max-width: 250px;
}
.footer .footer-content .links-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .footer-content .links-section h3 {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}
.footer .footer-content .links-section ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .footer-content .links-section ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
}
.footer .footer-content .contact-section {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .footer-content .contact-section h3 {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}
.footer .footer-content .contact-section p {
  color: #000;
  max-width: 300px;
}
.footer .footer-content .btn-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.footer .footer-content .btn-section button {
  width: 300px;
  color: #fff;
  height: -moz-fit-content;
  height: fit-content;
  padding: 14px 25px;
  border-radius: 15px;
  text-align: center;
  background-color: #286982;
}
.footer .footer-content .btn-section .lines {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: flex-end;
  width: 50%;
}
.footer .footer-content .btn-section .lines .center {
  top: -56px;
  height: 30px;
  position: absolute;
  width: 6px;
  height: 47px;
  background-color: #286982;
}
.footer .footer-content .btn-section .lines span {
  position: absolute;
  width: 6px;
  height: 47px;
  background-color: #286982;
}
.footer .footer-content .btn-section .lines span:first-child {
  margin-right: 100px;
  transform: rotate(140.16deg);
}
.footer .footer-content .btn-section .lines span:last-child {
  margin-left: 100px;
  transform: rotate(-140.16deg);
}
.footer .footer-content .btn-section .last {
  top: 50px;
}
.footer .footer-content .btn-section .last .center {
  top: -36px;
  height: 30px;
  position: absolute;
  width: 6px;
  height: 47px;
  background-color: #286982;
}
.footer .footer-content .btn-section .last span:first-child {
  transform: rotate(-140.16deg);
}
.footer .footer-content .btn-section .last span:last-child {
  transform: rotate(140.16deg);
}
.footer .footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 0.875rem;
  padding: 1rem 0 2rem 0;
  border-top: 2px solid rgba(238, 238, 238, 0.9333333333);
}

.aboutUs-container {
  padding: 5rem 0 0 0;
  display: flex;
  flex-direction: column;
}
.aboutUs-container .about-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
.aboutUs-container .about-header h1 {
  margin-bottom: 1.5rem;
  margin-top: 4rem;
  position: relative;
  color: #1C2D49;
  font-size: 26px;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.aboutUs-container .about-header h1 span {
  position: absolute;
  width: 123.41px;
  height: 2px;
  right: 0.5rem;
  top: 42px;
  background-color: #286982;
  transform: rotate(-2.04deg);
}
.aboutUs-container .about-header h1 span:last-child {
  width: 68px;
  top: 50px;
  right: 4rem;
}
.aboutUs-container .about-header p {
  font-weight: 500;
  font-size: 18px;
  color: #8C8B8B;
  text-align: center;
  max-width: 840px;
}
.aboutUs-container .about-header button {
  background-color: #286982;
  border-radius: 15px;
  padding: 7px 2rem;
  color: #fff;
  font-size: 18px;
}
.aboutUs-container .objectives #objectiveSection {
  background-color: #f0f8ff;
}
.aboutUs-container .objectives #objectiveSection header {
  gap: 0.5rem;
}
.aboutUs-container .objectives #objectiveSection header h1 {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  color: #1C2D49;
  font-size: 26px;
  font-weight: 600;
  width: fit-content;
  position: relative;
}
.aboutUs-container .objectives #objectiveSection header h1 span {
  position: absolute;
  width: 123.41px;
  height: 2px;
  right: 0.5rem;
  top: 42px;
  background-color: #286982;
  transform: rotate(-2.04deg);
}
.aboutUs-container .objectives #objectiveSection header h1 span:last-child {
  width: 68px;
  top: 50px;
  right: 4rem;
}
.aboutUs-container .objectives #objectiveSection header p {
  color: #8C8B8B;
  font-weight: 500;
  font-size: 18px;
}
.aboutUs-container .objectives #objectiveSection .objective {
  position: relative;
  border-radius: 15px;
  padding: 3.4rem;
  align-items: center;
  background-color: #fff;
}
.aboutUs-container .objectives #objectiveSection .objective .icon-cont {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  background-color: #fff;
}
.aboutUs-container .objectives #objectiveSection .objective .icon-cont svg {
  font-size: 45px;
  color: #286982;
}
.aboutUs-container .objectives #objectiveSection .objective h1 {
  margin-top: 1.5rem;
  text-align: center;
}
.aboutUs-container .objectives #objectiveSection .objective .description {
  text-align: center;
}
.aboutUs-container .accomplish {
  padding: 6rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.aboutUs-container .accomplish header h1 {
  margin: 0 auto;
  color: #1C2D49;
  font-size: 26px;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.aboutUs-container .accomplish header h1 span {
  position: absolute;
  width: 123.41px;
  height: 2px;
  right: 0.5rem;
  top: 42px;
  background-color: #286982;
  transform: rotate(-2.04deg);
}
.aboutUs-container .accomplish header h1 span:last-child {
  width: 68px;
  top: 50px;
  right: 4rem;
}
.aboutUs-container .accomplish .col {
  display: flex;
  justify-content: space-around;
  gap: 75px;
}
.aboutUs-container .accomplish .col .text-cont {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 42%;
  position: relative;
}
.aboutUs-container .accomplish .col .text-cont ul {
  display: block;
  position: absolute;
  bottom: 0;
  left: 51px;
}
.aboutUs-container .accomplish .col .text-cont p {
  display: -webkit-inline-box;
}
.aboutUs-container .accomplish .col .text-cont p svg {
  color: #286982;
  font-size: 40px;
  margin-right: 10px;
}
.aboutUs-container .accomplish button {
  background-color: #286982;
  border-radius: 15px;
  padding: 7px 2rem;
  color: #fff;
  font-size: 18px;
}
.aboutUs-container .graduates-container {
  display: flex;
}
.aboutUs-container .graduates-container aside {
  background-color: #EBF7FC;
}
.aboutUs-container .graduates-container aside:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  padding: 6rem;
}
.aboutUs-container .graduates-container aside:first-child header h1 {
  color: #1C2D49;
  font-size: 26px;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.aboutUs-container .graduates-container aside:first-child header h1 span {
  position: absolute;
  width: 123.41px;
  height: 2px;
  right: 0.5rem;
  top: 42px;
  background-color: #286982;
  transform: rotate(-2.04deg);
}
.aboutUs-container .graduates-container aside:first-child header h1 span:last-child {
  width: 68px;
  top: 50px;
  right: 4rem;
}
.aboutUs-container .graduates-container aside:first-child p {
  color: #404040;
  font-size: 16px;
}
.aboutUs-container .graduates-container aside:first-child button {
  background-color: #286982;
  border-radius: 15px;
  padding: 7px 2rem;
  color: #fff;
  font-size: 18px;
}
.aboutUs-container .graduates-container aside:last-child img {
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
}
.aboutUs-container #OurTeam header h1 {
  color: #1C2D49;
  font-size: 26px;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.aboutUs-container #OurTeam header h1 span {
  position: absolute;
  width: 123.41px;
  height: 2px;
  right: 0.5rem;
  width: 72px;
  right: 2px;
  top: 42px;
  background-color: #286982;
  transform: rotate(-2.04deg);
}
.aboutUs-container #OurTeam header h1 span:last-child {
  width: 68px;
  top: 50px;
  right: 4rem;
  width: 72px;
  right: 2px;
}

main.programs-page {
  background-image: url("./Images/Grey.png");
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 4rem 8rem 8rem 8rem;
}
main.programs-page .programs-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 4rem;
}
main.programs-page .programs-header h1 {
  color: #1C2D49;
  font-size: 26px;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
main.programs-page .programs-header h1 span {
  position: absolute;
  width: 123.41px;
  height: 2px;
  right: 0.5rem;
  top: 42px;
  background-color: #286982;
  transform: rotate(-2.04deg);
}
main.programs-page .programs-header h1 span:last-child {
  width: 68px;
  top: 50px;
  right: 4rem;
}
main.programs-page .programs-header p {
  font-weight: 500;
  color: #8C8B8B;
}
main.programs-page .programs-col {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  width: 100%;
}
main.programs-page .programs-col .program {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
main.programs-page .programs-col .program aside.content-aside {
  display: flex;
  gap: 20px;
}
main.programs-page .programs-col .program aside.content-aside svg {
  color: #286982;
  font-size: 50px;
}
main.programs-page .programs-col .program aside.content-aside h2 {
  font-weight: 600;
  font-size: 16px;
  color: #1C2D49;
}
main.programs-page .programs-col .program aside.content-aside p {
  width: 343px;
}
main.programs-page .programs-col .program aside.image-aside {
  position: relative;
  z-index: 1;
  height: -moz-fit-content;
  height: fit-content;
}
main.programs-page .programs-col .program aside.image-aside::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #286982;
  border-radius: 8px;
  z-index: -1;
  bottom: -20px;
  left: 24px;
}
main.programs-page .programs-col .program aside.image-aside img {
  width: 350px;
  border-radius: 8px;
}
main.programs-page button {
  background-color: #286982;
  border-radius: 15px;
  padding: 7px 2rem;
  color: #fff;
  font-size: 18px;
  padding: 10px 6rem;
  margin-top: 4rem;
}

@font-face {
  font-family: "A Thuluth";
  src: url("./Fonts/A.Thuluth_p30download.com_.ttf") format("truetype"); /* Adjust path and format if needed */
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  font-family: "Poppins", serif;
  box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}

:root {
  --Deep-teal:#256882;
  --Soft-mist:#e3e3e3;
  --Aqua-breeze:#A1D6E2;
  --Midnight-blue:#1B3A4B;
  --Golden-sand:#D8B773;
  --text-100:#000000;
  --text-200:#2c2c2c;
  --bg-White:#fff;
  --bg-100:#F7EEDD;
  --bg-200:#ede4d3;
  --bg-300:#c4bcab;
}

::-webkit-scrollbar {
  width: 5px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--Deep-teal); /* color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-100); /* color of the scrollbar */
  border-radius: 0px; /* roundness of the scrollbar */
}

@tailwind base;
@tailwind components;
@tailwind utilities;/*# sourceMappingURL=App.css.map */