.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f8ff;
  padding: 9rem;
  @include breakpoint(mobile) {
    padding: 2rem;
  }
  @include breakpoint(medium) {
    padding: 2rem;
  }
  .content-wrapper {
    @include breakpoint(mobile) {
      flex-direction: column;
    }
    display: flex;
    align-items: center;
    gap: 4rem;
    max-width: 1200px;
    width: 100%;
    .text-section {
      @include breakpoint(mobile) {
        padding-right: 0px;
        align-items: center;
      }
      @include breakpoint(medium) {
        padding-right: 0px;
      }
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      flex: 1;
      padding-right: 50px;
      h2 {
        @include breakpoint(mobile) {
          font-size: 16px;
        }    
        width: fit-content;
        font-size: 26px;
        font-weight: bold;
        color: #1C2D49;
        margin-bottom: 10px;
        position: relative;
        span{
          @include breakpoint(mobile) {
            width: 131.41px;
            right: 5px;
            top: 26px;
          }
          position: absolute;
          width: 123.41px;
          height: 2px;
          right: .5rem;
          top: 42px;
          background-color: #286982;
          transform: rotate(-2.04deg);
          &:last-child{
            width: 68px;
            top: 50px;
            right: 4rem;
            @include breakpoint(mobile) {
              width: 70.41px;
              right: 66px;
              top: 35px;
            }  
          }
        }
      }
      p {
        color: #6a6a6a;
        line-height: 1.6;
        margin-bottom: 20px;
      }
      .list {
        background: #fff;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .list-item {
          display: flex;
          flex-direction: column;
          width: fit-content;
          position: relative;
          .link-cont{
            @include breakpoint (mobile) {
              font-size: 12px;
            }
            color: #2a2a2a;
            font-weight: 500;
            display: flex;
            align-items: center;
          }
          svg {
            color: #286982;
            margin-right: 10px;
          }
          &:hover {
            span {
              width: 90%;
            }
            .our-team {
              width: 76%;
            }
          }
          .our-team {
            left: 62%;
          }
          span {
            position: absolute;
            bottom: -4px;
            left: 53%;
            transform: translate(-50%, -50%);
            width: 0;
            height: 1px;
            background-color: #286982;
            transition: width 0.2s;
          }
        }
      }
      .learn-more-btn {
        padding: 10px 20px;
        color: #fff;
        background-color: #286982;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: max-content;
      }
    }
    .image-section{
      position: relative;
      @include breakpoint(mobile) {
        width: 288px;
        height: 365px;  
      }
      @include breakpoint(medium) {
        width: 270px;
        height: 400px;  
      }
      width: 470px;
      height: 610px;
      z-index: 2;
      .before{
        @include breakpoint(mobile) {
          height: 103.5%;
          position: absolute;
          top: -10px;
          left: -10px;
        }  
        border-top-left-radius: 256.02px;
        border-top-right-radius: 256.02px;
        border-top: 2px solid #286982;
        border-left:2px solid #286982;
        width: 100%;
        height: 103.5%;
        position: absolute;
        top: -21px;
        left: -23px;
        z-index: -1;
      }
      img{
        border-top-left-radius: 256.02px;
        border-top-right-radius: 256.02px;
        width: 100%;
        height: 100%;
      }
    } 
  }
}