.footer {
  background-color: #f5f5f5;
  color: #4a768a;
  padding-top: 10rem;
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    @include breakpoint(mobile) {
      gap: 30px;
    }
    .logo-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      .social-icons{
        display: flex;
        align-items: center;
        gap: 10px;
        a {
          color: #4a768a;
          margin: 0 5px;
          font-size: 1.5rem;
        }
      }
      .logo {
        max-width: 250px;
      }
    }
    .links-section{
      @include breakpoint (mobile) {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0 2rem;
      }
      display: flex;
      flex-direction: column;
      gap: 10px;
      h3{
        @include breakpoint (mobile) {
          font-size: 15px;
        }  
        font-size: 18px;
        font-weight: 700;
        color: #000;
      }
      ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        @include breakpoint (mobile) {
          gap: 4px;
        }  
        li{
          a{
            text-decoration: none;
            font-size: 16px;
            color: #000;
            @include breakpoint (mobile) {
              font-size: 10px;
            }
          }
        }
      }
    }
    .contact-section {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 10px;
      h3{
        @include breakpoint (mobile) {
          font-size: 15px;
        }  
        font-size: 18px;
        font-weight: 700;
        color: #000;
      }
      p{
        color: #000;
        max-width: 300px;
        @include breakpoint (mobile) {
          max-width: 150px;
          font-size: 10px;
          line-height: 22px;
        }  
      }
    }
    .btn-section{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
      @include breakpoint (mobile) {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
      }
      .social-icons{
        display: flex;
        gap: 10px;
        svg{
          font-size:20px ;
        }
      }
      aside{
        display: flex;
        align-items: center;
        gap: 10px;
        flex-direction: column;
      }
      img{
        @include breakpoint (mobile) {
          width:50px ;
        }
      }
      a.btn{
        width: 300px;
        color: #fff;
        height: fit-content;
        padding: 14px 25px;
        border-radius: 15px;
        text-align: center;
        background-color: #286982;
        @include breakpoint (mobile) {
          padding: 8px 12px;
          width:113px ;
          border-radius: 7px;
          font-size: 10px;
        }
      }
      // .lines{
      //   position: relative;
      //   display: flex;
      //   justify-content: center;
      //   gap: 50px;
      //   align-items: flex-end;
      //   width: 50%;
      //   .center{
      //     top: -56px;
      //     height: 30px;
      //     position: absolute;
      //     width: 6px;
      //     height: 47px;
      //     background-color:#286982;
      //   }
      //   span{
      //     position: absolute;
      //     width: 6px;
      //     height: 47px;
      //     background-color:#286982;
      //     &:first-child{
      //       margin-right: 100px;
      //       transform: rotate(140.16deg);
      //     }
      //     &:last-child{
      //       margin-left: 100px;
      //       transform: rotate(-140.16deg);
      //     }
      //   }
      // }
      // .last{
      //   top: 50px;
      //   .center{
      //     top: -36px;
      //     height: 30px;
      //     position: absolute;
      //     width: 6px;
      //     height: 47px;
      //     background-color:#286982;
      //   }
      //   span{
      //     &:first-child{
      //       transform: rotate(-140.16deg);
      //     }
      //     &:last-child{
      //       transform: rotate(140.16deg);
      //     }
      //   }
      // }
    }
  }
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 0.875rem;
    padding: 1rem 0 2rem 0;
    border-top: 2px solid #eeee;
  }
}
// .links-section ul {
//   list-style-type: none;
//   padding: 0;
// }
// .links-section ul li a {
//   color: #4a768a;
//   text-decoration: none;
// }