.gift-component{
  padding: 0rem 12rem;
  border-radius: 32px;
  position: relative;
  bottom: -4rem;
  @include breakpoint (mobile) {
    padding: 2rem 2rem 4rem 2rem;
    position: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  @include breakpoint (medium) {
    padding: 2rem 2rem 4rem 2rem;
    position: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .gift-btn {
    @include breakpoint (mobile) {
      font-size: 18px;
      padding: 12px 20px;
      border-radius: 10px;
      background-color: #286982;
      color: #ffffff;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  .child{
    width: 100%;
    border-radius: 32px;
    .background-div{
      display: flex;
      gap: 20px;
      align-items: center;
      flex-direction: column;
      border-radius: 32px;
      @include breakpoint (mobile) {
        border-radius: 22px;
        padding: 2rem .5rem 0rem .5rem;
      }
      @include breakpoint (medium) {
        border-radius: 22px;
        padding: 3rem 1.5rem 3rem 1.5rem;
      }
      padding: 4rem 6rem;
      width: 100%;
      background-color: #286982D9;
      .hadith-div{
        p{
          @include breakpoint (mobile) {
            font-size: 17px;
            line-height: 22px;
          }
          @include breakpoint (medium) {
            font-size: 28px;
            line-height: 40px;
          }
          font-size: 42px;
          line-height: 56px;
          font-weight: 500;
          color: #fff;
          text-align: center;
          span{
            @include breakpoint (mobile) {
              font-size: 4px;
            }
            font-size: 12px;
          }
        }
      }
      .generosity{
        @include breakpoint (mobile) {
          font-size: 11px;
        }
        font-size: 18px;
        color: #CACACA;
        text-align: center;
        padding: 10px 15px;
      }
      .gift-btn {
        @include breakpoint (mobile) {
          font-size: 18px;
          padding: 7px 15px;
        }
        border-radius: 10px;
        background-color: #fff;
        color: #00000080;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 15px 30px;
        font-size: 23px;
      }
    }
  }
}