.hero-section{
  height: 100lvh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  .BackgroundImage{
    width: 100%; 
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .content-wrapper{
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4rem 2rem 0rem 2rem;
    gap: 1rem;
    img{
      width:24rem ;
      margin-top: 2.5rem;
      @include breakpoint(mobile){
      width: 15rem;
      }  
      @include breakpoint(medium){
      width: 20rem;
      }  
    }
    .thuluth{
      font-size: 4.7rem;
      @include breakpoint(mobile){
      font-size: 2rem;
      }  
      @include breakpoint(medium){
      font-size: 3.5rem;
      }  
    }
    .text{
      font-size: 1rem;
      text-align: center;
      @include breakpoint(mobile){
      font-size: .8rem;
      }  
    }
    .reg-btn{
      background-color :#286982;
      margin-top:4rem;
      color:#fff;
      font-size:15px;
      border-radius:10px;
      padding:8px;
      text-align: center; 
      width: 15rem;
      @include breakpoint(mobile){
      width: 10rem;
      }  
    }
  }
}