.ourTeam{
  .teammateImage{
    width: 280px;
    height: 330px;
    border-radius: 14px;
  }
  .social-media{
    display: flex;
    align-items: center;
    gap: 15px;
    svg{
      font-size: 28px;
    }
  }
}