main.payment {
  padding: 5rem;
  @include breakpoint(mobile) {
    padding: 5rem 2rem;
  }
  @include breakpoint(medium) {
    padding: 5rem 2rem;
  }
  .content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 750px;
    width: min-content;
    @include breakpoint(mobile) {
      width: 100%;
    }      
    @include breakpoint(medium) {
      width: 100%;
    }      
    .labels {
      align-self: flex-start;
    }
    h1{
      font-size: 22px;
      color: #0F001A;
      font-weight:500 ;
      text-align: center;
      padding-top: 4rem;
    }
    h2{
      font-size: 22px;
      align-self: flex-start;
      @include breakpoint(mobile) {
        font-size: 14px;
      }      
      font-weight: 700;
      color:#757980 ;
      span{
        font-size: 22px;
        font-weight: 400;
        @include breakpoint(mobile) {
          font-size: 14px;
        }      
      }
    }
    .credit-logo{
      border: 1.2px solid #B4BEC8;
      border-radius: 15px;
      @include breakpoint(mobile) {
        border-radius: 8px;
        padding: 10px;
      }      
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      img{
        width: 48px;
        @include breakpoint(mobile) {
          width: 28px;
        }      
      }
      span{
        font-size: 20px;
        color: #878787;
        @include breakpoint(mobile) {
          font-size: 12px;
        }      
      }
    }
    .input-cont {
      display: flex;
      @include breakpoint(mobile) {
        flex-direction: column;
        width: 100%;
      }      
      gap: 20px;
      input{
        width: 358px;
        @include breakpoint(mobile) {
          width: 100%;
        }      
        border-radius: 15px;
        font-size: 15px;
        color: #878787;
        border: 1px solid #B4BEC8;
        padding: 17px;
        outline: none;
      }
      .cvv-input{
        text-align: center;
      }
    }
    button{
      @include button ();
      width: 100%;
      padding: 17px;
    }
  }
}
